setuptools>=50.3.0
jupyterlab>=2.2.9
ipykernel
pandas>=1.1.2
boto3>=1.16.25
xmltodict>=0.12.0
google-auth>=1.24.0
google-api-python-client>=1.12.8
google-auth-oauthlib>=0.4.2
ipywidgets>=7.5.1
numpy>=1.16.4
tqdm>=4.51.0
python-Levenshtein>=0.12.0

